<footer class="bg-black text-white py-10">
  <!-- Container -->
  <div class="container max-w-7xl mx-auto px-4 mb-12 mt-4">
    <!-- Main Section (Grid) -->
    <div class="flex flex-col md:flex-row justify-between items-center md:items-start">
      <!-- Logo + Description (Left Side) -->
      <div class="flex flex-col items-start mb-10 md:mb-0 mr-16">
        <!-- Conteneur du logo centré -->
        <div class="relative p-3 rounded-xl shadow-[0_0_20px_#d52d2d] mx-auto">
          <img src="assets/logo.png" alt="SaaS Logo" class="h-20 w-20" />
        </div>
        <!-- Description alignée à gauche -->
        <p class="text-[#BCBCBC] mt-4 max-w-md ">
          BIOAQUA: The Leader in Water Treatment Products in Tunisia and your trusted partner for high-quality water
          treatment solutions.
        </p>
      </div>

      <!-- Links & Contact Section -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full">
        <!-- Links Section -->
        <div>
          <h6 class="text-lg mb-4 font-bold ml-2">LINKS</h6>
          <ul class="space-y-2 text-[#BCBCBC]">
            <li><button>Home</button></li>
            <li><button>About</button></li>
            <li><button>Services</button></li>
            <li><button>Contact</button></li>

          </ul>
        </div>

        <!-- Contact Section -->
        <div>
          <h6 class="text-lg mb-4 font-bold ml-10">CONTACT</h6>
          <ul class="text-[#BCBCBC]">
            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                href="mailto:crossFit@gmail.com">CrossFit&#64;gmail.com</a></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="contacts.html">London,Street 225r.21</a>
            </li>
          </ul>
        </div>


        <!-- Social Media -->
        <div>
          <h6 class="text-lg mb-4 font-bold">FOLLOW US</h6>
          <div class="flex space-x-4 justify-center">
            <a class="border border-[#BCBCBC] p-2 rounded-md hover:bg-red-600 hover:text-black bg-white">
              <img src="assets/facebook.png" alt="FB" class="h-8 w-8" />
            </a>
            <a class="border border-[#BCBCBC] p-2 rounded-md hover:bg-red-600 hover:text-black bg-white">
              <img src="assets/youtube.png" alt="FB" class="h-8 w-8" />
            </a>
            <a class="border border-[#BCBCBC] p-2 rounded-md hover:bg-red-600 hover:text-black bg-white">
              <img src="assets/twitter.png" alt="FB" class="h-8 w-8" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center mt-8 mb-0 text-[#BCBCBC]">
    &copy; 2025 Your Company, Inc. All rights reserved.
  </div>
</footer>
