<header class="sticky top-0 backdrop-blur-sm z-20">
  <div class="py-2">
    <div class="container">
      <div class="flex items-center justify-between">
        <!-- <img src="assets/logo6.png" alt="Saas Logo" height=40px width=100px /> -->
        <div class="flex items-center space-x-2">
          <img src="assets/logo.png" alt="Dumbbell Icon"  class="h-20 w-20" />
          <span class="text-lg font-semibold tracking-wider text-red-500">MASTER GYM</span>
        </div>
        <img src="assets/menu.svg" alt="Menu Icon" class="h-5 w-5 md:hidden" />
        <nav class="hidden md:flex gap-6 text-white/70 items-center">
          <a routerLink="home">Home</a>
          <a routerLink="about">About</a>
          <a routerLink="services">Services</a>
          <a routerLink="contact">Contact</a>
          <button
            class="bg-red-600 hover:bg-red-400 text-white px-4 py-2 rounded-lg font-medium inline-flex align-items justify-center tracking-tight">
            Login
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>

