<!-- =============== HEADER-TITLE =============== -->
<section class="bg-[url('assets/bg-1-min.png')] bg-cover bg-center bg-no-repeat bg-blue-950">
  <div class="container mx-auto px-4">
    <div class="min-h-[260px] flex items-center py-[50px]">
      <h2 class="title-decor text-4xl md:text-5xl font-bold text-white text-center mb-4">About
      </h2>
    </div>
  </div>
</section>
<!-- ============= HEADER-TITLE END ============= -->

<!-- ============== S-ABOUT-PROGRAM ============== -->
<section class="relative pt-[140px]">
  <div class="container mx-auto px-4 relative">
    <img class="absolute top-[3px] right-[15%]" src="assets/tringle-about-top.svg" alt="img">

    <div class="flex flex-wrap items-center">
      <!-- Image Column -->
      <div class="w-full md:w-[44%] mb-8 md:mb-0">
        <div class="relative">
          <div class="inline-block relative">
            <img class="block max-w-full relative z-[1]" src="assets/about-top-1.jpg" alt="img">
            <img class="absolute bottom-[94px] right-[-98px] z-[0]" src="assets/square-yellow.svg" alt="img">
            <img class="absolute bottom-[-36px] left-[202px]" src="assets/group-circle-2.svg" alt="img">
          </div>
          <div class="ml-[40%] mt-[-187px] text-right relative z-[2]">
            <img class="max-w-[90%]" src="assets/about-top-2.jpg" alt="img">
          </div>
        </div>
      </div>

      <!-- Info Column -->
      <div class="w-full md:w-[56%] md:pl-8">
        <h2 class="relative text-center md:text-left text-white font-bold text-[36px] pb-[20px] mb-[20px]">
          About <span class="block mt-[-3px] text-red-500">Company</span>
          <span class="absolute bottom-0 left-0 md:left-0 w-[45px] h-[4px] bg-red-500"></span>
        </h2>

        <div class="text-white">
          <p class="mb-[44px]">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmmpor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit, sed do eiusmod tempor.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut <a href="contacts.html" class="text-red-500 hover:text-white">enim ad
              minim</a> veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
        </div>

        <ul class="flex items-center my-[30px]">
          <li class="mr-[27px]">
            <a href="tel:18004886040" class="text-red-500 hover:text-white text-[17px]">
              <i class="fa fa-phone mr-[17px]"></i>1-800-488-6040
            </a>
          </li>
          <li>
            <a href="mailto:fitmax@gmail.com" class="text-red-500 hover:text-white text-[17px]">
              <i class="fa fa-envelope mr-[17px]"></i>fitmax&#64;gmail.com
            </a>
          </li>
        </ul>

        <ul class="flex">
          <li class="mr-[24px]">
            <a href="https://www.facebook.com/rovadex" target="_blank"
              class="text-white hover:text-red-500 text-[23px]">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="mr-[24px]">
            <a href="https://twitter.com/RovadexStudio" target="_blank"
              class="text-white hover:text-red-500 text-[23px]">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="mr-[24px]">
            <a href="https://www.youtube.com/" target="_blank" class="text-white hover:text-red-500 text-[23px]">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/rovadex" target="_blank"
              class="text-white hover:text-red-500 text-[23px]">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ============ S-ABOUT-PROGRAM END ============ -->

<!-- ============== S-ABOUT-BOTTOM ============== -->
<section class="pt-[23px]">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div *ngFor="let stat of stats" class="w-full md:w-1/3 px-4 mb-4">
        <div class="flex justify-between items-center bg-[#272a31] py-[20px] h-full text-white">
          <div class="font-['Righteous'] text-center border-r-2 border-red-500 w-[38%] py-[5px] uppercase">
            <div class="text-[48px] leading-[0.75] mb-[11px]">{{stat.value}}</div>
            <h4>{{stat.label}}</h4>
          </div>
          <div class="w-[62%] py-[16px] px-[15px] md:px-[20px] text-[#bebebe] text-[15px]">
            {{stat.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============ S-ABOUT-BOTTOM END ============ -->

<!-- =============== S-OUT-TRAINER =============== -->
<section class="py-[128px] md:py-[140px] bg-[url('assets/bg-contacts.svg')] bg-center bg-no-repeat bg-[length:100%_auto]">
  <div class="container mx-auto px-4">
    <h2 class="title-decor text-3xl md:text-4xl font-bold text-white text-center mb-4">
      Our <span class="text-[#f23849]">Trainer</span>
    </h2>
    <div class="w-16 h-1 bg-[#f23849] mx-auto mb-6"></div>

    <p class="text-center max-w-[560px] mx-auto mb-[40px] text-[#ccc]">
      Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor,
      auctor tincidunt lorem ut, venenatis dapibus miq.
    </p>

    <div class="flex flex-wrap -mx-4">
      <div *ngFor="let trainer of paginatedTrainers; let i = index" class="w-full md:w-1/2 px-4 mb-[30px] md:mb-[30px]"
        [class.md:translate-y-[30px]="i % 2 === 1">
        <div class="flex justify-between bg-[#272a31] items-stretch transition-all duration-300 hover:bg-white">
          <a class="flex-[0_0_30%] max-w-[30%]">
            <img class="block w-full h-full object-cover" [src]="trainer.image" alt="img">
          </a>
          <div class="flex-[0_0_70%] max-w-[70%] flex flex-col justify-center p-[30px]">
            <h3 class="uppercase transition-all duration-300">
              <a class="text-white hover:text-black">{{trainer.name}}</a>
            </h3>
            <div class="text-[14px] uppercase mb-[16px] text-red-500 font-medium transition-all duration-300">
              {{trainer.profession}}
            </div>
            <p class="text-[#bebebe] mb-[17px] transition-all duration-300 group-hover:text-[#4d4d4d]">
              {{trainer.description}}
            </p>
            <ul class="flex">
              <li class="mr-[18px]">
                <a href="https://www.facebook.com/rovadex" target="_blank"
                  class="text-white hover:text-red-500 text-[23px] transition-all duration-300">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="mr-[18px]">
                <a href="https://twitter.com/RovadexStudio" target="_blank"
                  class="text-white hover:text-red-500 text-[23px] transition-all duration-300">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="mr-[18px]">
                <a href="https://www.youtube.com/" target="_blank"
                  class="text-white hover:text-red-500 text-[23px] transition-all duration-300">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/rovadex" target="_blank"
                  class="text-white hover:text-red-500 text-[23px] transition-all duration-300">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="flex items-center justify-between mt-8 p-4">
      <!-- Items per page selector -->
      <!-- <div>
        <select (change)="changePageSize(itemsPerPage)"
          class="border rounded-md px-3 py-1 text-sm bg-[#272a31] border-gray-700 text-white">
          <option *ngFor="let size of pageSizes" [value]="size">{{ size }} per page</option>
        </select>
      </div> -->

      <div class="flex items-center space-x-2">
        <!-- Previous Button -->
        <button
          class="px-4 py-2 border rounded-full text-sm font-medium hover:bg-gray-800 border-gray-700 text-white"
          (click)="prevPage()" [disabled]="currentPage === 1">
          Previous
        </button>

        <!-- Page Numbers (Visible on larger screens) -->
        <div class="hidden md:flex items-center space-x-2">
          <!-- Always show first page -->
          <button class="px-4 py-2 border rounded-full text-sm border-gray-700"
            [ngClass]="{'bg-red-500 text-white': currentPage === 1, 'hover:bg-gray-800 text-white': currentPage !== 1}"
            (click)="goToPage(1)">
            1
          </button>

          <!-- Show ellipsis if current page is far from start -->
          <span *ngIf="currentPage > 3" class="px-2 text-white">...</span>

          <!-- Show pages around current page -->
          <ng-container *ngFor="let page of getMiddlePages()">
            <button class="px-4 py-2 border rounded-full text-sm border-gray-700"
              [ngClass]="{'bg-red-500 text-white': currentPage === page, 'hover:bg-gray-800 text-white': currentPage !== page}"
              (click)="goToPage(page)">
              {{ page }}
            </button>
          </ng-container>

          <!-- Show ellipsis if current page is far from end -->
          <span *ngIf="currentPage < totalPages - 2" class="px-2 text-white">...</span>

          <!-- Always show last page if there's more than 1 page -->
          <button *ngIf="totalPages > 1" class="px-4 py-2 border rounded-full text-sm border-gray-700"
            [ngClass]="{'bg-red-500 text-white': currentPage === totalPages, 'hover:bg-gray-800 text-white': currentPage !== totalPages}"
            (click)="goToPage(totalPages)">
            {{ totalPages }}
          </button>
        </div>

        <!-- Current page indicator (Visible on smaller screens) -->
        <div class="md:hidden px-4 py-2 text-sm text-white">
          {{ currentPage }} of {{ totalPages }}
        </div>

        <!-- Next Button -->
        <button
          class="px-4 py-2 border rounded-full text-sm font-medium hover:bg-gray-800 border-gray-700 text-white"
          (click)="nextPage()" [disabled]="currentPage === totalPages">
          Next
        </button>
      </div>
    </div>
  </div>
</section>
<!-- ============= S-OUT-TRAINER END ============= -->