<div class="w-full min-h-screen flex items-center bg-black text-white dark:bg-gray-50 dark:text-black">
  <div class="max-w-full py-5 mt-10 mb-20 mx-auto overflow-hidden">
    <div class="w-full flex items-center flex-col gap-1 justify-center mb-16 px-4">
      <p class="text-sm sm:text-lg font-semibold text-rose-600">Words That Matter</p>
      <h3 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl text-center font-semibold">See Why Clients Keep Coming
        Back</h3>
    </div>

    <div class="flex flex-col gap-3">
      <!-- Top Testimonials (Reverse Scroll) -->
      <div style="mask-image:linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%)"
        class="relative flex justify-around gap-5 overflow-hidden shrink-0">
        <div class="max-w-full mx-auto">
          <div class="px-4 md:px-10 mx-auto w-full">
            <div
              class="animate-scrollReverse flex flex-nowrap w-max min-w-full hover:[animation-play-state:paused] overflow-hidden relative gap-5 justify-around shrink-0">
              <!-- Testimonial Cards -->
              <div *ngFor="let testimonial of testimonialsTop"
                class="flex flex-col justify-between h-[220px] rounded-sm border-[1.2px] border-white/20 dark:border-black/20 shrink-0 grow-0 md:w-[440px] sm:w-[320px] w-[280px]">
                <p class="px-5 py-5 tracking-tight text-lg font-extralight md:text-lg">
                  "{{testimonial.quote}}"
                </p>
                <div
                  class="flex overflow-hidden h-[30%] md:h-[28%] gap-1 w-full border-t-[1.2px] border-white/10 dark:border-black/10">
                  <div class="flex items-center w-3/4 gap-3 px-4 py-3">
                    <img class="w-10 h-10 rounded" [src]="testimonial.image" [alt]="testimonial.name + ' avatar'">
                    <div class="flex flex-col items-start justify-start flex-1 gap-0">
                      <h5 class="text-base font-medium md:text-md">{{testimonial.name}}</h5>
                      <p class="text-sm md:text-base mt-[-4px] text-white/50 dark:text-black/30">
                        {{testimonial.role}}
                      </p>
                    </div>
                  </div>
                  <div class="w-[1px] bg-white/10 dark:bg-black/20"></div>
                  <div class="flex items-center justify-center max-w-full mx-auto">
                    <a target="_blank" href="">
                      <svg width="30" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg" class="w-full">
                        <path
                          d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom Testimonials (Forward Scroll) -->
      <div style="mask-image:linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%)"
        class="relative flex justify-around gap-5 overflow-hidden shrink-0">
        <div class="max-w-full mx-auto">
          <div class="px-4 md:px-10 mx-auto w-full">
            <div
              class="animate-scroll flex flex-nowrap w-max min-w-full hover:[animation-play-state:paused] overflow-hidden relative gap-5 justify-around shrink-0">
              <!-- Testimonial Cards -->
              <div *ngFor="let testimonial of testimonialsBottom"
                class="flex flex-col justify-between h-[220px] rounded-sm border-[1.2px] border-white/20 dark:border-black/20 shrink-0 grow-0 md:w-[440px] sm:w-[320px] w-[280px]">
                <p class="px-5 py-5 tracking-tight text-lg font-extralight md:text-lg">
                  "{{testimonial.quote}}"
                </p>
                <div
                  class="flex overflow-hidden h-[30%] md:h-[28%] gap-1 w-full border-t-[1.2px] border-white/10 dark:border-black/10">
                  <div class="flex items-center w-3/4 gap-3 px-4 py-3">
                    <img class="w-10 h-10 rounded" [src]="testimonial.image" [alt]="testimonial.name + ' avatar'">
                    <div class="flex flex-col items-start justify-start flex-1 gap-0">
                      <h5 class="text-base font-medium md:text-md">{{testimonial.name}}</h5>
                      <p class="text-sm md:text-base mt-[-4px] text-white/50 dark:text-black/30">
                        {{testimonial.role}}
                      </p>
                    </div>
                  </div>
                  <div class="w-[1px] bg-white/10 dark:bg-black/20"></div>
                  <div class="flex items-center justify-center max-w-full mx-auto">
                    <a target="_blank" href="">
                      <svg width="30" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                        xmlns="http://www.w3.org/2000/svg" class="w-full">
                        <path
                          d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>